<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Pang</title>
</head>
<body style="background-color: tan">
<div style="background: linear-gradient( to right, aquamarine, khaki ); border: 1px ridge black; margin-bottom: 3px; padding: 0px">
    <a href="/" style="text-align: center; font-size: 40px; color:blue" ><h1>Book Pang</h1></a>
</div>
<div style="text-align: right" th:if="${!check}">
    <button style="position: relative;  padding:5px 10px; font-size: 5px;" onclick="location.href='loginform'">로그인</button>
</div><br>
<div style="text-align: right; font-size: large; font-weight: bold" th:if="${check}" th:text="${name}+'님 환영합니다!'"></div>
<div style="text-align: right" th:if="${check}">
    <button style="position: relative;  padding:5px 10px; font-size: 8px;" onclick="location.href='logout'">로그아웃</button>
    <button style="position: relative;  padding:5px 10px; font-size: 8px;" onclick="location.href='mypost'">내가쓴글</button>
</div>
<table border="1" style="width: 60%; height: 100px; margin: auto; text-align: center">
    <thead>
    <tr style="background-color: aqua; font-family: Georgia, serif">
        <td>번호</td>
        <td width="550">제목</td>
        <td width="250">글쓴이</td>
        <td>작성일자</td>
        <td >조회수</td>
        <td>삭제</td>
    </tr>
    </thead>
    <tbody >
    <tr style="background-color: antiquewhite" th:each="posts : ${post}">
        <td th:text="${postsStat.index+1+10*(page-1)}"></td>
        <td width="550"><a th:href="@{/post/details(id=${posts.getId()})}" th:text="${posts.getTitle()}"></a></td>
        <td width="250" th:text="${posts.getUser().getUserid()}"></td>
        <td th:text="${posts.getLastmodifiedDate()}"></td>
        <td th:text="${posts.getHit()}"></td>
        <td><a th:href="@{/admin/board/delete(id=${posts.getId()})}" th:text="삭제"></a> </td>
    </tr>
    </tbody>
</table>
<br>

<div style="text-align: center">
    <table style="margin: auto; text-align: center">
        <tr th:with="count=${count}">
            <td th:each="m : ${#numbers.sequence(1,count)}" >
                <a th:style="${m==page ? 'font-weight:bold ;':'font-weight:normal' }" th:href="@{/admin/search/page(page=${m},search=${search})}" th:text="${m}"></a>
            </td>
        </tr>
    </table>
    <form action="/search" method="get">
        검색: <input type="text" name="search">
        <input type="submit" value="검색">
    </form>
</div>



</body>
</html>