<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Pang</title>
</head>
<body style="background-color: aqua">
<div style="background: linear-gradient( to right, aquamarine, khaki ); border: 1px ridge black; margin-bottom: 3px; padding: 0px">
    <a href="/" style="text-align: center; font-size: 40px; color:blue" ><h1>Book Pang</h1></a>
</div>
<div style="text-align: right" th:if="${!check}">
    <button style="position: relative;  padding:5px 10px; font-size: 5px;" onclick="location.href='loginform'">로그인</button>
</div><br>
<div style="text-align: right; font-size: large; font-weight: bold" th:if="${check}" th:text="${name}+'님 환영합니다!'"></div>
<div style="text-align: right" th:if="${check}">
    <button style="position: relative;  padding:5px 10px; font-size: 8px;" onclick="location.href='/logout'">로그아웃</button>
    <button style="position: relative;  padding:5px 10px; font-size: 8px;" onclick="location.href='/myorderlist'">나의 주문</button>
    <button style="position: relative;  padding:5px 10px; font-size: 8px;" onclick="location.href='/mypost'">내가쓴글</button>
</div>
<div style="width: 60%; height: 100px; margin: auto; text-align: center">

    <table border="1" style="width: 30%; height: 100px; margin: auto; text-align: center; font-weight: bold;font-size: medium">
        <tbody>
        <tr>
            <td>제목</td>
            <td th:text="${title}"></td>
        </tr>
        <tr th:height="100px">
            <td>내용</td>
            <td th:text="${content}"></td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>