<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body style="background-color: aqua">
<div style="background: linear-gradient( to right, aquamarine, khaki ); border: 1px ridge black; margin-bottom: 3px; padding: 0px">
    <a href="/" style="text-align: center; font-size: 40px; color:blue" ><h1>Book Pang</h1></a>
</div>
<div  style="display: inline; text-align: center;">
    <form method="post" action="/join">
        <label>이름: </label><input type="text" name="name" placeholder="이름"><br><br>
        <label>아이디: </label><input type="text" name="userid" placeholder="아이디"><br><br>
        <label>비밀번호:</label><input type="password" name="password" placeholder="비밀번호"><br><br>
        <label>이메일: </label><input type="email" name="email" placeholder="e-mail"><br><br>
        <label>주소: </label><input type="text" name="address" placeholder="주소"><br><br>
        <input type="submit" value="회원가입">
    </form>
</div>
</body>
</html>